  #page-wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #page-content-wrapper {
    margin-top: 55px;
    width: 100%;
    padding: 20px;
  }

  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }

  .doll-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .doll-card {
    width: 150px;
    height: 200px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    margin: 2px;
  }

.star {
    color: #FFB400;
    text-align: right;
    background-color: gray;
  }

  .doll-link {
    width: 148px;
    height: 148px;
    display: block;
    background-repeat: no-repeat;
    background-size: 200%;
    text-indent: -9999px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    background-color: transparent;
    background-origin: padding-box;
  }

  .doll-link-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: right;
  }

  .doll-card-bottom {
    display: flex;
    justify-content: space-between;
    background-color: gray;
  }