  #page-wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #page-content-wrapper {
    margin-top: 55px;
    width: 100%;
    padding: 20px;
  }

  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }