.doll-link a#number1 {
  background-image: url(../images/dolls/1.png);
  background-position: 45% 3%
}

.doll-link a#number1:hover {
  background-image: url(../images/dolls/1_1.png);
}

.doll-link a#number2 {
  background-image: url(../images/dolls/2.png);
  background-position: 35% 7%
}

.doll-link a#number2:hover {
  background-image: url(../images/dolls/2_1.png);
}

.doll-link a#number3 {
  background-image: url(../images/dolls/3.png);
  background-position: 48% 7%
}

.doll-link a#number3:hover {
  background-image: url(../images/dolls/3_1.png)
}

.doll-link a#number5 {
  background-image: url(../images/dolls/5.png);
  background-position: 50% 7%;
}

.doll-link a#number5:hover {
  background-image: url(..//images/dolls/5_1.png);
}

.doll-link a#number6 {
  background-image: url(../images/dolls/6.png);
  background-position: 70% 7%;
}

.doll-link a#number6:hover {
  background-image: url(..//images/dolls/6_1.png);
}

.doll-link a#number7 {
  background-image: url(../images/dolls/7.png);
  background-position: 43% 7%;
}

.doll-link a#number7:hover {
  background-image: url(..//images/dolls/7_1.png);
}

.doll-link a#number8 {
  background-image: url(../images/dolls/8.png);
  background-position: 40% 0%;
}

.doll-link a#number8:hover {
  background-image: url(..//images/dolls/8_1.png);
}

.doll-link a#number9 {
  background-image: url(../images/dolls/9.png);
  background-position: 56% 5%;
}

.doll-link a#number9:hover {
  background-image: url(..//images/dolls/9_1.png);
}

.doll-link a#number10 {
  background-image: url(../images/dolls/10.png);
  background-position: 54% 3%;
}

.doll-link a#number10:hover {
  background-image: url(..//images/dolls/10_1.png);
}

.doll-link a#number11 {
  background-image: url(../images/dolls/11.png);
  background-position: 45% 3%;
}

.doll-link a#number11:hover {
  background-image: url(..//images/dolls/11_1.png);
}

.doll-link a#number12 {
  background-image: url(../images/dolls/12.png);
  background-position: 45% 3%;
}

.doll-link a#number12:hover {
  background-image: url(..//images/dolls/12_1.png);
}

.doll-link a#number13 {
  background-image: url(../images/dolls/13.png);
  background-position: 49% -4%;
}

.doll-link a#number13:hover {
  background-image: url(..//images/dolls/13_1.png);
}

.doll-link a#number14 {
  background-image: url(../images/dolls/14.png);
  background-position: 47% -2%;
}

.doll-link a#number14:hover {
  background-image: url(..//images/dolls/14_1.png);
}

.doll-link a#number15 {
  background-image: url(../images/dolls/15.png);
  background-position: 37% 3%;
}

.doll-link a#number15:hover {
  background-image: url(..//images/dolls/15_1.png);
}

.doll-link a#number16 {
  background-image: url(../images/dolls/16.png);
  background-position: 50% 3%;
}

.doll-link a#number16:hover {
  background-image: url(..//images/dolls/16_1.png);
}

.doll-link a#number17 {
  background-image: url(../images/dolls/17.png);
  background-position: 50% 10%;
}

.doll-link a#number17:hover {
  background-image: url(..//images/dolls/17_1.png);
}

.doll-link a#number18 {
  background-image: url(../images/dolls/18.png);
  background-position: 46% 10%;
}

.doll-link a#number18:hover {
  background-image: url(..//images/dolls/18_1.png);
}

.doll-link a#number19 {
  background-image: url(../images/dolls/19.png);
  background-position: 58% 10%;
}

.doll-link a#number19:hover {
  background-image: url(..//images/dolls/19_1.png);
}

.doll-link a#number20 {
  background-image: url(../images/dolls/20.png);
  background-position: 42% 1%;
}

.doll-link a#number20:hover {
  background-image: url(..//images/dolls/20_1.png);
}

.doll-link a#number21 {
  background-image: url(../images/dolls/21.png);
  background-position: 48% 8%;
}

.doll-link a#number21:hover {
  background-image: url(..//images/dolls/21_1.png);
}

.doll-link a#number22 {
  background-image: url(../images/dolls/22.png);
  background-position: 51% 10%;
}

.doll-link a#number22:hover {
  background-image: url(..//images/dolls/22_1.png);
}

.doll-link a#number23 {
  background-image: url(../images/dolls/23.png);
  background-position: 47% 1%;
}

.doll-link a#number23:hover {
  background-image: url(..//images/dolls/23_1.png);
}

.doll-link a#number24 {
  background-image: url(../images/dolls/24.png);
  background-position: 42% 1%;
}

.doll-link a#number24:hover {
  background-image: url(..//images/dolls/24_1.png);
}

.doll-link a#number25 {
  background-image: url(../images/dolls/25.png);
  background-position: 47% 1%;
}

.doll-link a#number25:hover {
  background-image: url(..//images/dolls/25_1.png);
}

.doll-link a#number26 {
  background-image: url(../images/dolls/26.png);
  background-position: 47% 12%;
}

.doll-link a#number26:hover {
  background-image: url(..//images/dolls/26_1.png);
}

.doll-link a#number27 {
  background-image: url(../images/dolls/27.png);
  background-position: 47% 7%;
}

.doll-link a#number27:hover {
  background-image: url(..//images/dolls/27_1.png);
}

.doll-link a#number28 {
  background-image: url(../images/dolls/28.png);
  background-position: 50% 23%;
}

.doll-link a#number28:hover {
  background-image: url(..//images/dolls/28_1.png);
}

.doll-link a#number29 {
  background-image: url(../images/dolls/29.png);
  background-position: 44% 8%;
}

.doll-link a#number29:hover {
  background-image: url(..//images/dolls/29_1.png);
}

.doll-link a#number31 {
  background-image: url(../images/dolls/31.png);
  background-position: 48% 8%;
}

.doll-link a#number31:hover {
  background-image: url(..//images/dolls/31_1.png);
}

.doll-link a#number32 {
  background-image: url(../images/dolls/32.png);
  background-position: 51% 8%;
}

.doll-link a#number32:hover {
  background-image: url(..//images/dolls/32_1.png);
}

.doll-link a#number33 {
  background-image: url(../images/dolls/33.png);
  background-position: 46% 3%;
}

.doll-link a#number33:hover {
  background-image: url(..//images/dolls/33_1.png);
}

.doll-link a#number34 {
  background-image: url(../images/dolls/34.png);
  background-position: 40% 4%;
}

.doll-link a#number34:hover {
  background-image: url(..//images/dolls/34_1.png);
}

.doll-link a#number35 {
  background-image: url(../images/dolls/35.png);
  background-position: 54% 4%;
}

.doll-link a#number35:hover {
  background-image: url(..//images/dolls/35_1.png);
}