{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": false,
    "react/prefer-stateless-function": false,
    "react/prop-types": false,
    "react/no-array-index-key": false,
    "import/prefer-default-export": false
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  }
}
