.dollcard {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 300px;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-image: url('./resources/cardbg.png');
}

.dollcard--typeicon {
  position: absolute;
  float: left;
  z-index: 99;
}

.dollcard--header {
  width: 100%;
  height: 20px;
  text-align: right;
}

.dollcard--header--star {
  display: inline-block;
  width: 15px;
  height: 15px;
  transform: rotate(30deg);
  font-size: 18px;
  color: #ffb600;
}

.dollcard--content {
  width: 170px;
  height: 212px;
  overflow: hidden;
  z-index: -1;
}

.dollcard--namebar {
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 8px;
  background-color: rgb(214, 227, 90);
  color: #404040;
}

.dollcard--footer {
  position: relative;
  width: 100%;
  height: 35px;
  line-height: 30px;
}

.dollcard--footer span {
  position: absolute;
  left: 135px;
  top: 10px;
  font-size: 16px;
  color: #bbbbbb;
}
