#menu {
  flex-basis: 300px;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
  background-color: #2e353d;
  color: #e1ffff; 
}

@media (min-width: 767px) {
  #menu {
    height: 100%;
  }
}

#menu ul {
  padding: 0
}

.menu-item {
  display: block;
  cursor: pointer;
  padding: 3px 0 3px 15px;
  list-style: none;
  font-size: 16px;
  line-height: 35px;
  color: #e1ffff;
  font-weight: 200;
  background-color: #2e353d;
}

.menu-item.expandable:after {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}


.menu-subitem {
  display: block;
  cursor: pointer;
  padding: 3px 0 3px 20px;
  list-style: none;
  font-size: 16px;
  line-height: 28px;
  color: #e1ffff;
  background-color: #181c20;
}

.menu-subitem:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}


.title {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}