body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

#content{
  max-width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.body-content{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: calc(100vh/12);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url('./resources/bg.jpg');*/
}

.body-content:after {

}

.body-content > * {
  box-sizing: border-box;
}

.banner-main {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;

  padding: 10px;
}

.banner-main > img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}

.wrapper-checklist {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 13;

  padding: 10px;
}

.wrapper-banner-link {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end:12;
  padding-right: 10px;
}

.wrapper-banner-link > a > img{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 5px 0px;
  float: right;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition-duration: 0.25s;
}

.wrapper-banner-link > a > img:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.wrapper-content-twitter{
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end:12;
  width: 100%;
  max-height: 100vh;
  padding: 10px 20px 20px 20px;
}

.wrapper-content-twitter > div {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#banner-link-twitter {
  display: none;
}

#gf-sim-mobile {
  display: none;
}

#gf-sim-pc {
  display: block;
}

@media only screen
and (max-width: 640px) {
  body { overflow: visible; }

  .body-content{
    grid-template-columns: 1fr;
    grid-auto-rows: unset;
  }

  .banner-main {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 10px;
  }

  .wrapper-checklist {
    display: none;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .wrapper-checklist > div {
    max-width: none;
    max-height: none;
    height: 400px;
  }

  .wrapper-banner-link {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 20px 0;
  }

  .wrapper-banner-link > a > img {
    width: calc(100% - 32px);
    max-width: none;
    margin: 16px auto;
    border-radius: 3px;
    float: none;
  }

  .wrapper-content-twitter {
    display: none;
  }

  #banner-link-twitter {
    display: block;
  }
}

@media only screen
and (min-width: 641px)
and (max-width: 960px){
.banner-main {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 10px;
}

.wrapper-checklist {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 8;
}

.wrapper-banner-link {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 8;
  grid-row-end: 12;
  padding: 20px;
}

  .wrapper-banner-link > a > img{
    float: none;
    width: 100%;
    height: auto;
  }

  .wrapper-banner-link > a {
    display: block;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    min-height: 60px;
    max-height: 80px;
  }


.wrapper-content-twitter {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 8;
}

  .wrapper-content-twitter > div > iframe {
    height: 32vh !important;
  }


}

/* tablet portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .banner-main {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 10px;
  }

  .wrapper-checklist {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
  }

  .wrapper-banner-link {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 12;
    padding: 20px 0;
  }

  .wrapper-banner-link > a{
    width: 45%;
    max-height: 80px;
  }

  .wrapper-banner-link > a > img{
    width: 100%;
    margin: 5px;
    float: none;
  }

  .wrapper-content-twitter {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 9;
  }

  .wrapper-content-twitter > div > iframe {
    height: 40vh !important;
  }

  #gf-sim-mobile {
    display: block;
  }

  #gf-sim-pc {
    display: none;
  }
}

/* mobile */
@media only screen
and (max-device-width: 480px) {
  body { overflow: visible; }

  .body-content{
    grid-template-columns: 1fr;
    grid-auto-rows: 150px;
  }

  .banner-main {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px;
  }

  .wrapper-checklist {
    display: none; /* TODO: temporary code while checklist making*/
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .wrapper-checklist > div {
    max-width: none;
    max-height: none;
    height: auto;
  }

  .wrapper-banner-link {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: auto;
    padding: 0;
  }

  .wrapper-banner-link > a > img {
    width: calc(100% - 32px);
    max-width: none;
    margin: 16px auto;
    border-radius: 3px;
    float: none;
  }

  .wrapper-content-twitter {
    display: none;
  }

  #banner-link-twitter {
    display: block;
  }

  #gf-sim-mobile {
    display: block;
  }

  #gf-sim-pc {
    display: none;
  }
}
