.doll-detail__wrapper {

}

.doll-detail__illust {
  width: 100%;
  /* border-color: #37474F;
  border-style: solid;
  border-width: 0 1px 1px 1px; */
}

.doll-detail__tab-container {
  display: flex;
}

.doll-detail__tab {
  display: inline-block;
  padding: 5px 10px;
  line-height: 25px;
  background-color: transparent;
  /* border-top: 3px solid #FAFAFA;
  border-left: 1 solid #37474F;
  border-right: 0 solid #37474F; */
  border: 1px solid #37474F;

  cursor: pointer;
  margin-right: 10px;
}

.doll-detail__tab.active {
  /* border-top-color: #01579B;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0; */
}

.doll-detail__tab-filler {
  display: inline-block;
  flex-grow: 1;
  /* border-bottom: 1px solid #37474F; */
  cursor: none;
}